.comment-text {
  text-align: left;
  padding: 5px;
  margin-left: 4px;
}
.comment {
  font-size: 14px;
}
.comment-form  {
  margin: 15px 0;
  width: 100%;
}
.comment-form input {
  width: 95%;
  font-size: 14px;
  padding: 10px 5px;
  border: none;
  border-top: 1px solid #efefef;
  color: #999;
}
.user {
  font-size: 14px;
  color: black;
  font-weight: bold;
}